h1 { text-align: center; }

img {
  display: block;
  margin: 0 auto;
  align: center;
}

div { font-family:yellow;
      font-size:130%;
      text-align:left;
      color:blue;
      border: 2px solid black;
      padding: 20px;
      background-color: black;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffff24;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}


footer { text-align: right; 
         font-style: italic;}
