h1 { text-align: center; }



img {
  display: block;
  margin: 0 auto;
  align: center;
}

div { font-family:yellow;
      font-size:130%;
      text-align:left;
      color:blue;
      border: 2px solid black;
      padding: 20px;
      background-color: black;
}

footer { text-align: right; 
         font-style: italic;}
