td{
    font-size: 25px;
}
p{
    font-size: 20px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {position: fixed;
        bottom: 0;
        right: 1em; 
        font-style: italic;}
