html {
    background-color: #F5E5B3;
}

td{
    font-size: 25px;
}
p{
    font-size: 20px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
    }
}

