
html {
    background-color:#ffff99;
}
* {
    font-family:verdana;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #2E3138;
}

h1
{color:red;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
}

main,
footer {
    width: 60%;
    margin: auto;
    margin-top: 25px;
    justify-content: center;
}

footer {
    margin-bottom: 35px;
}

h1,
h2 {
    font-weight: 400;
}

h2 {
    font-size: 2.25em;
    margin: 5px 0 10px;
}

h3 {
    font-size: 1.5em;
    margin: 25px 0;
}

p {
  margin: 1em 10px;
  font-size: 1.25em;
}

label {
    font-size: 1.25em;
}

button {
  cursor: pointer;
  outline: none;

  padding: 10px;

  border-radius: 5px;
  border: none;

  color: gray;
  background-color: #2E3138;

  transition: 0.25s;
  min-width: 100px;
}

button:hover,
button:focus {
    background-color: #2e3138ad; 
    transition: 0.25s;
}

button.disabled {
  background-color: #2e3138ad;
  transition: 0.25s;
}

textarea,
input,
select,
label {
    color: #6C6F7D;
}

input {
    margin: 5px 0;
}

input[type=text] {
    display: block;
    width: 325px;
    padding: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text],
textarea,
select {
    width: 325px;
    padding: 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=checkbox]:checked + label { 
    color: #2E3138; 
}

.hidden {
  display: none !important;
}

.disabled {
  background-color: #6c6f7d5d;
  cursor: none;
}

.cart--item {
  margin: 10px 0;
  max-width: 325px;
  min-height: 1em;

  display: block;
  position: relative;
}

.survey--item {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px solid #2E3138;
}

.form--actions {
  margin: 25px 0 25px 10px;
}

.product--name {
  float: left;
  margin-right: 10px;
}

.product--price {
  float: right;
}

.total {
  max-width: 325px;
  min-height: 1em;
  min-height: 5em;
  font-weight: bold;
}

p.total--text {
  display: block;
  float: left;
}

p.total--amount {
  display: block;
  float: right;
}

span.signature {
    margin-top: 50px;
    color: #ff3399;
}

span.signature > a {
    text-decoration: none;
}
span.signature > a:hover {
    color: white;
    background: #232323a9;

    -moz-box-shadow: -6px -4px 1px 0px #2323232e, 2px 0px 0px #2323232e;
    -webkit-box-shadow: -6px -4px 1px 0px #2323232e, 2px 0px 0px #2323232e;
    box-shadow: -3px -2px 1px 0px #2323232e, 1px 0px 0px #2323232e;

    transition: 0.25s;
}

#displayProduct {
  margin: 10px 0 25px;
}

@media only screen and (max-width: 768px) {
    footer,
    main {
        width: 80%;
    }

    .overlay {
        width: 325px;
        left: 0;
    }

    input[type=submit],
    input[type=reset],
    input[type=text],
    select,
    textarea {
        width: 100%;
    }

    input[type=submit] {
        margin: 0;
    }
}
