button {
  cursor: pointer;
  outline: none;

  padding: 12px;

  border-radius: 6px;
  border: none;

  color: white;
  background-color: #2E3138;

  transition: 0.2s;
  min-width: 120px;
}

button:hover,
button:focus {
    background-color: #2e3138ad; 
    transition: 0.2s;
}

button.disabled {
  background-color: #2e3138ad;
  transition: 0.2s;
}

body { font-family:verdana;
      font-size:130%;
}

h2 { font-style: italic;}

.bantitle {color:blue;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: black;
}
footer {position: fixed;
        bottom: 0;
        right: 1em; 
        font-style: italic;}
